@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@300&display=swap');
body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}
h1 {
    text-align: center;
    color: #1f2039;
}
h2 {
    text-align: center;
    color: #1f2039;
}
h3 {
    text-align: center;
    color: #1f2039;
}
main {
    text-align: center;
    height: 300px;
    width: 50%;
    border-radius: 25px;
    background-color:#1f2039;
    padding-top: 70px;
    color: white;
    margin-left: 25%;
}
.zoneOptions {
    margin-top: -25px;
}
.zoneProposition {
background-color: white;
height: 50px;
color:#1f2039;
font-size: 20px;
padding-top: 15px;
width: 75%;
margin-left: 13%;
border-radius: 25px;
margin-bottom: 15px;
margin-top: 15px;
}
.zoneScore {
    margin-top: 15px;
}
#btnValideMot {
    font-size: 15px;
    font-weight: 500;
    padding: 12px 35px;
    margin-left: 15px;
    color: #1f2039;
    border: none;
    border-radius: 40px;
    transition: all 0.3s ease;
}
#btnValideMot:hover {
    transform: scale(1.05);
}
#btnPartager {
    font-size: 15px;
    font-weight: 500;
    padding: 12px 35px;
    margin-left: 15px;
    margin-top: 15px;
    color: #1f2039;
    border: none;
    border-radius: 40px;
    transition: all 0.3s ease;
}
#btnPartager:hover {
    transform: scale(1.05);
}
#btnEnvoyerMail {
    font-size: 15px;
    font-weight: 500;
    padding: 12px 35px;
    margin-left: 15px;
    margin-top: 15px;
    color: #1f2039;
    border: none;
    border-radius: 40px;
    transition: all 0.3s ease;
}
#btnEnvoyerMail:hover {
    transform: scale(1.05);
}
#inputEcriture {
    font-size: 20px;
    border: none;
    color: #1f2039;
    border-radius: 5px;
    width: 53%;
}
footer {
    text-align: center;
    background-color: #1f2039;
    color: white;
    height: 65px;
    width: 100%;
    align-items: center;
    padding-top: 30px;
    margin-top: 30px;
}

.popupBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: #4f5194;
    border-radius: 30px;
    z-index: 1;
}

.active {
    display: flex !important;
}

.popup p {
    width: 100%;
    margin-bottom: 20px;
}

.partage {
    font-size: 25px;
    padding : 0px;
    padding-bottom: 5px;
}
.nom {
    font-size: 15px;
    margin-top: 15px;
    padding : 0px;
    padding-bottom: 5px;
}
.email {
    font-size: 15px;
    margin-top: 5px;
    padding : 0px;
    padding-bottom: 5px;
}

/* Eléments de formulaire */
.popup input {
    margin-bottom: 10px;
    font-size: 16px;
}

.popup button {
    margin: 10px;
}

/** 
 * Responsive
 */


 /* En dessous de 1200 px */
 @media screen and (max-width: 1200px) {
    main {
        width: 60%;
        padding: 30px;
    }
}


/* En dessous de 800 px */
@media screen and (max-width: 800px) {
    main {
        width: 90%;
        padding: 10px;
        margin-left: 5px;
    }
}